@import url('https://fonts.googleapis.com/css2?family=Abel&family=Electrolize&family=Georama:wght@200&family=Montserrat:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

.form {
    max-width: 700px;
    margin: 5vh 20vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-family: 'Electrolize',sans-serif;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="file"] {
    display: block;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}

.form h1 {
    margin-bottom: 20px;
}
#imageContainer img{
    width: 35vh;
    height: auto;
}