@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@200&family=Bebas+Neue&family=Electrolize&family=PT+Sans&display=swap');

* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

h1 {
    padding: 12px;
    font-family: 'Electrolize', sans-serif;
}

header {
    display: flex;
}

.heading {
    color: black;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
}

.search {
    padding-right: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search_items {
    padding: 8px;
    border: 1.5px solid black;
    border-radius: 4px;
    outline: none;
    width: 250px;
}

.search-button {
    padding: 8px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

.search-button span {
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
}

.navbar a {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
}

.navbar a:hover {
    background-color: #333;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
}

#menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: white;
    padding: 10px 15px;
}

.cat img {
    width: 10vh;
    height: auto;
    border-radius: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40vh;
}


.img img {
    width: 100%;
    height: 35vh;
    border-radius: 5px;
    margin-bottom: 10px;
}

.details h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Electrolize', sans-serif;
}

.cat {
    font-family: 'Montserrat', sans-serif;
}

.details h5 {
    padding-top: 2px;

    font-family: 'Abel', sans-serif;
    font-size: 20px;
}
.buttons{
    display:flex;
}
.details button{
    margin: 3px;
    padding: 2px 2vh;
    font-family: 'Abel', sans-serif;
    background-color: black;
    color: whitesmoke;
}
.buttons button{
    padding: 3px 2vh;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    background-color: black;
    color: #fff;
}

.buttons button:hover {
    background-color: #333;
    transition: 0.4s ease-out;
}

footer {
    background-color: #d6d5d5;
    padding: 20px 0;
    color: #080404;
    font-size: 14px;
    text-align: center;
    position: relative;
    bottom: 0%;
    width: 100%;

}

.downbar {
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
    gap: 5%;

}

.downbar li {
    list-style: none;
}

.downbar a {
    text-decoration: none;
    color: #0e2b69;
    margin-bottom: 2%;
    font-size: 12px;

}

.downbar ul {
    text-align: left;
}

.footheading {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.vertical-line {
    width: 1px;
    background-color: #080404;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 25%;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#scrollToTopBtn.show {
    opacity: 1;
}

#scrollToTopBtn::after {
    background-color: rgb(12, 96, 151);
}