*{
    padding: 0px;
    margin: 0px;
}

h1{
    font-family: 'Comme', sans-serif;
    font-family: 'Roboto Slab', serif;
    
}

.heading{
    padding: 15px;
    padding-top: 25px;
    font-family:'Comme', sans-serif;
    font-style:italic;
    color: rgb(11, 145, 235);
    font-size: 23px;
    font-weight: 850;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.nav_bar{
    display: flex;
    justify-content:space-around;
    background-color: black;
    flex-direction: row;
    padding: 15px;
    
}
.nav_bar button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 20px;
    font-size: 20px;
    font: bold;
}
.btn-centre::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}
.btn-centre:hover::after{
    transform: scale(1,1);
}
.btn::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 0.175rem;
    background-color: #ff7846;
    left: 0;
    top: 95px;

}
.nav_bar a:hover{
    color: #ff7846;
}
a{
    color: aliceblue;
    font-size: 18px;
    transition-duration: 1s;
    text-decoration: none;
}
a:hover{
    transform: scale(1.5);
    font-size: larger;
}
.products{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    box-shadow: 10px 10px;
    border: 3px solid  rgb(11, 145, 235);
    border-radius: 15px;
    width:23%;
    padding: 20px;
    margin: 3%;
}
.card:hover{
    border: 3px solid rgb(11, 145, 235);
}
.card img{
    width:180px;
    height: 180px;
    padding: 10px;
}

.card h3{
    font-size: 25px;
    font-weight: 450;
}
.card p{
    font-style: italic;
    font-size: 15px;
    border: none;
    background-color: rgb(205, 222, 238);
    border-radius: 15px;
    padding: 5px;
}
.card h5{
    padding: 10px 10%;
    font-size: 24px;
    text-align: center;
}
.card button{
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-30%);
}
.card button:hover{
    transition: 0.3s;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
}